.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%), 1fr));
    gap: 2.75rem;
    margin-top: 4rem;
    max-width: 1000px;
    margin-inline: auto;
    width: 100%;
}
