.page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pageHeader {
    margin-top: 1rem;
}

.videoDemoPlayer {
    border: 0.1rem solid var(--color-border);
    max-width: 900px;
    margin-inline: auto;
    border-radius: var(--radius-md);
    overflow: hidden;
    margin-block: 3rem;
}
